<%- include partials/header %>
<%- include partials/main_nav.ejs %>
<section id="about">
    <h1>About Me</h1>
    <!--Embeding image-->
      <img src="Personal_Image.png" style="width:120px;height:160px;" class="image">
        <!--About me-->
        <p>Hi, my name is Leevian Chen a third year student at Ontario Tech University <br>
          currently I am studying Networking and IT security.<br>
          A little bit of information about me is that I am a Taiwanese Canadian watch this video.</p>
        <!--Embeding video-->
          <video controls="controls">
              <source src="Personal_Video.mp4" type="video/mp4">
              <source src="Personal_Video.ogv" type="video/ogg">
          </video>
  </section>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
