#navbar{
    position: fixed;
}

h1{
    padding-top: 60px;
}
body{
    overflow-x: hidden;
}

main{
    width: 1280px;
    margin: auto;
}

#home, #about, #projects, #contacts{
    width: 100%;
    height: 100%;
}

.home{
    text-align: center;
    font-size: 17px;
}

.about{
    text-align: left;
    font-size: 17px;
}

.projects{
    text-align: left;
    font-size: 17px;
}

.contacts{
    text-align: left;
    font-size: 17px;
}